:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --lato-font: 'Lato', sans-serif;
    --permanent-marker-font: 'Permanent Marker', cursive;
    --merriweather-font: 'Merriweather', serif;
    --protest-strike-font: 'Protest Strike', cursive;
    --protest-guerilla-font: 'Protest Guerilla', cursive;
    --open-sans-font: 'Open Sans', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --protest-riot-font: 'Protest Riot', cursive;
    --lora-font: 'Lora', serif;
    --primary-color: #485025;
    --header-secondary-color: #9c9f7c;
    --hero-color: #f8f1e5;

}

* {
    margin: 0;
    padding: 0;
    font-family: var(--lato-font);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e5c6;
    padding: 2px 5%;
    height: 10vh;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
    text-decoration: none;

}

header nav ul li a {
    text-decoration: none;
    color: var(--header-secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
}

.header-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    margin: 2px;
}

.fas {
    padding: 0 10px;
}


.hero-section {
    /*min-height: 60vh;*/
    background-color: var(--hero-color);
    display: flex;
    /* max-height: 60vh; */
}


.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
}

.hero-image img {
    transition: transform 1s;
}

.hero-image img:hover {
    transform: scale(1.2)
        /*rotateY(180deg);*/
    ;
    transition: transform 1s;

}


.hero-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1% 1%;
    margin: 5% 5%;

}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 5% 0;
}

.service-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    color: #e8e5c6
}


/* Animate services to move across the row in a circular fashion from left to right infinitely*/
.service {
    animation: move 5s infinite;
}

/* @keyframes moveCircular {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
} */


.business-name {
    font-family: var(--lora-font);
    font-size: 4rem;
    color: black;
}

.business-description {
    font-family: var(--lato-font);
    width: 60%;
    /* color: #aba79b */
    color: gray;
}

/* .service:not(:last-child) {
    padding-right: 20%;
    border-right: 2px solid gainsboro;
} */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


.shop-button {
    background-color: var(--primary-color);
    color: #e8e5c6;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1%;

}

.shop-button:hover {
    background-color: #9c9f7c;
    color: var(--primary-color);
    font-weight: bold;
}